.index-page {
    background-image: url(../img/test3.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.index-page .button-box {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.button-box span {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.index-page .go-button {
    background-color: #FF5722;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    width: 80%;
    padding: 15px 0;
}

.eating-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.eating-card {
    background-image: url(../img/test1.jpg);
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 49%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    position: relative;
    margin: 0.5%;
    float: left;
}

.eating-null {
    opacity: 0.4;
}

.eating-card-title {
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    height: 60px;
    background-color: rgba(61, 61, 62, 0.52);
    width: 100%;
    padding: 20px 10px;
}

.asi-card {
    background-image: url(../img/test1.jpg);
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    position: relative;
    margin: 0.5%;
    float: left;
}

.asi-card-title {
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    height: 60px;
    background-color: rgba(61, 61, 62, 0.52);
    width: 100%;
    padding: 20px 10px;
}

.add-box {
    background-color: #e91e63;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.34);
}

.add-box span {
    font-size: 2.2rem;
    color: #fff;
    line-height: 4rem;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

.modal-header {
    margin-left: 10px;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 30px 0;
    text-align: center;
}

.doned-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #2095f2;
}

.cancel-btn {
    position: absolute;
    bottom: 5px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #666;
}

.doned-input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #989898;
}

.modal-enter,
.modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #75eeff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.loading {
    text-align: center;
}

.loading span {
    color: #666;
}

.re-asi-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    background-color: #4AA6FF;
    color: #fff;
    text-align: center;
    display: block;
}
