.header {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.header span,
.header h1,
.header>a,
.header>button {
	color: #666!important;
}
.header .smaller button,.header .smaller span{
	font-size: 0.8rem!important;
}

.nav-btn {
	padding: 6px 6px!important;
}
.din-icon-set {
	
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
}
.grey {
	color: #ACACB4;
}
html,body,#app{
    height: 100%;
    width: 100%;
}
.bg1{
	background-image:url(../img/test1.jpg);
}
.bg2{
	background-image:url(../img/test2.jpg);
}
.bg3{
	background-image:url(../img/test3.jpg);
}
.bg4{
	background-image:url(../img/test4.jpg);
}
.bg5{
	background-image:url(../img/test5.jpg);
}
.bg6{
	background-image:url(../img/test6.jpg);
}
.bg7{
	background-image:url(../img/test7.jpg);
}
.bg8{
	background-image:url(../img/test8.jpg);
}
.bg9{
	background-image:url(../img/test9.jpg);
}
.bg10{
	background-image:url(../img/test10.jpg);
}

